
<html>
  <head>
    <title>Trang mạng của Nae.</title>
  </head>
  <body>
    <p>おはよ</p>
    <p>Cái này hoạt đọng rồi!</p>
    <div>
      <h1><a href="/">Tôi đang cứu nghiệp ở day vì muốn trang mạng này tốt nhất!</a></h1>
    </div>
    <div>
    <h1><a href="/">Trang Mạng Của Nae</a></h1>
    </div>
    <div>
      <p>published: 2019:06:28</p>
      <h2><a href="">Khâu ban đầu</a></h2>
      <p>Cái này là gì?</p>
    </div>
    {% for post in posts %}
    <div>
      <p>published: {{ post.published_date }}</p>
      <h2><a href="">{{ post.title }}</a></h2>
      <p>{{ post.text|linebreaksbr }}</p>
    </div>
    {% endfor %}
  </body>
</html>
